# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs
logs/
*.log
outputs/
uploads/

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/